.main {
    background-color: $quick-silver;
    text-align: center;
    color: $white;
}

.section {
    background-color: $snow;
    text-align: center;
    color: $granite-gray;
}

.section__div-title {
    background-color: $jelly-bean;
    color: $snow;

}

.footer__div {
    background-color: $jelly-bean;
    color: $white;
}

.footer__div-logo {
    background-color: $granite-gray;
}

